.sub-header {
  width: 100%;
  height: 75px;
  padding: 20px;

  position: fixed;
  top: 30px;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  z-index: 1;
}

.sub-header__title {
  font-size: 30px;
  font-weight: bold;
}

.sub-header i {
  cursor: pointer;
}

.sub-header__buttons {
  width: 160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-cog {
  position: relative;
}
