@import url(../common/common.css);
@import url(../components/header.css);
@import url(../components/sub-header.css);
@import url(../components/footer.css);
@import url(../components/card.css);
@import url(../components/message-count.css);
@import url(../components/new-dot.css);

.sub-header__buttons {
  width: 200px;

  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 105px; /* header + sub-header ì˜ height */
  width: 100vw;
  padding: 10px 20px;
}

.chat {
  cursor: pointer;
}
