@import url(../common/common.css);
@import url(../components/header.css);
@import url(../components/sub-header.css);
@import url(../components/footer.css);
@import url(../components/message-count.css);
@import url(../components/new-dot.css);
@import url(../components/new-icon.css);

.main {
  margin-top: 105px; /* header + sub-header 의 height */
  width: 100vw;
  padding: 10px 20px;
}

.menu-item {
  height: 90px;
  display: flex;

  border-bottom: 1px solid rgb(211, 211, 211, 0.3);

  cursor: pointer;
}

.menu-item__icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item__title {
  width: 60%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 22px;
}

.menu-item__additional-info {
  width: 30%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 22px;
  color: #979797;
}

.chat {
  cursor: pointer;
}
